* {
  margin: 0px;
}
header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: center;
}
.logo {
  text-decoration: none;
}
.links {
  list-style: none;
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: black;
  margin: 10px;
}
